<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuFr9pjN6dYMC1HCd-sckcKBgEyDpm2LU</string>
	<key>GCM_SENDER_ID</key>
	<string>359311780848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplication</string>
	<key>PROJECT_ID</key>
	<string>chatapplication-d1fdc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapplication-d1fdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359311780848:ios:4eb10953921e212f210b35</string>
</dict>
</plist>